body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #bfffff;
    text-align: center;
    font-weight: bold;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border-radius: 10px;
    

  }

  #grid{
    text-align: center;
    margin-top: 20px;
  }
     
  button:active {
      transform: scale(0.95);
      background-color: ;
  }
     
  .letter {
      border: 2px solid black;
      border-radius: 8px;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }

  /* AÑADIDO */

  [data-emoji] {
    font-style: normal;
    font-weight: normal;
  }
  [data-emoji]:before {
    content: attr(data-emoji);
    margin-right: .125em;
  }

  /* fuera del tutorial */

  #bloque{
    padding-top: 30px;
    padding-bottom: 50px;
    border: solid black 4px;
    border-radius: 15px;
    background-color:rgb(255, 243, 249);
  }